/*font-family: 'Caveat', cursive;
font-family: 'Pacifico', cursive;*/
/*font-family: 'Caveat', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;*/

body{
background-image: url('./assets/agri5.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}
#about{
    text-align: center;
    font-family: 'Satisfy', cursive;

}

#nav{
    background-color: #1cdbcf;
    margin: auto;
}

#nav p{
    margin-right: auto;
    float: left;
}

nav{
display: flex;      
justify-content: space-between;
margin-right: auto;
}

 #nav ul{
    display: flex;
}

#nav ul li{
    justify-content: space-between;
   list-style: none;
    /* display: inline; */
    padding-right: 20px;
}

#products{
    display: flex;
    margin-right: auto;
}

#product {
    padding: 10px 20px 10px 20px;
    margin: 0 5px 0 5px;
    text-align: center;
    font-family: 'Caveat', cursive;
    background-color: burlywood;
    opacity: 0.9;
    border-radius: 0 0 30px 30px;
}

#header{
    background-color: rgb(166, 216, 65);
    margin-left: 38%;
    border-radius: 0 0 30px 30px;
    margin-right: 38%;
}

#header h2{
    text-align: center;
    font-family: 'Merienda', cursive;
    margin-left: 40%;
    margin: auto;
    font-size: 40px;
}

h3{
font-size: 40px;
}

footer{
 background-color: rgb(173, 233, 112);
/* text-align: center; */
margin-top: 10px;
margin-bottom:auto;
/* margin: 20px;; */
height: auto;
font-family: 'Pacifico', cursive;
opacity: 0.9;
}
.down{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

#down1>ul >li{
   list-style: none;
}

#down2>ul >li{
    list-style: none;
 }

 #down3>ul >li{
    list-style: none;
 }

 #down{
     border:3px solid white;
     width: 50px;
 }

#copy{
    text-align: center;
    margin-top: 5%;
}
